<p id="notice"><%= notice %></p>

<h1>Descartes</h1>

<form>
  Data:
  <input type="date" name="data" value="<%= @data.strftime("%Y-%m-%d") %>">
  <%= submit_tag "Pesquisar" %>
</form> 
<br/>
<table>
  <thead>
    <tr>
      <th>Nome do proprietario</th>
      <th>Tipo material</th>
      <th>Destino</th>
      <th>Transportador</th>
      <th>Tipo transporte</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @descartes.each do |descarte| %>
      <tr>
        <td><%= descarte.proprietario_nome %></td>
        <td><%= descarte.tipo_material %></td>
        <td><%= descarte.destino %></td>
        <td><%= descarte.transportador_nome %></td>
        <td><%= descarte.transportador_tipo_transporte %></td>
        <td><%= link_to 'Mostrar', descarte %></td>
        <td><%= link_to 'Editar', edit_descarte_path(descarte) %></td>
        <td><%= link_to 'Excluir', descarte, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @descartes %>

<br>
<%= link_to 'Novo Descarte', new_descarte_path %>
