<p id="notice"><%= notice %></p>

<p>
  <strong>Proprietario nome:</strong>
  <%= @descarte.proprietario_nome %>
</p>

<p>
  <strong>Proprietario cpf:</strong>
  <%= @descarte.proprietario_cpf %>
</p>

<p>
  <strong>Proprietario cep:</strong>
  <%= @descarte.proprietario_cep %>
</p>

<p>
  <strong>Proprietario endereco:</strong>
  <%= @descarte.proprietario_endereco %>
</p>

<p>
  <strong>Proprietario telefone:</strong>
  <%= @descarte.proprietario_telefone %>
</p>

<p>
  <strong>Tipo material:</strong>
  <%= @descarte.tipo_material %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @descarte.quantidade %>
</p>

<p>
  <strong>Destino:</strong>
  <%= @descarte.destino %>
</p>

<p>
  <strong>Transportador nome:</strong>
  <%= @descarte.transportador_nome %>
</p>

<p>
  <strong>Transportador cpf:</strong>
  <%= @descarte.transportador_cpf %>
</p>

<p>
  <strong>Transportador cep:</strong>
  <%= @descarte.transportador_cep %>
</p>

<p>
  <strong>Transportador endereco:</strong>
  <%= @descarte.transportador_endereco %>
</p>

<p>
  <strong>Transportador telefone:</strong>
  <%= @descarte.transportador_telefone %>
</p>

<p>
  <strong>Transportador tipo transporte:</strong>
  <%= @descarte.transportador_tipo_transporte %>
</p>

<%= link_to 'Edit', edit_descarte_path(@descarte) %> |
<%= link_to 'Back', descartes_path %>
