<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @descarte.id %>
</p>

<p>
  <strong>Proprietario nome:</strong>
  <%= @descarte.proprietario_nome %>
</p>

<p>
  <strong>Proprietario cpf:</strong>
  <%= @descarte.proprietario_cpf %>
</p>

<p>
  <strong>Proprietario cep:</strong>
  <%= @descarte.proprietario_cep %>
</p>

<p>
  <strong>Proprietario endereco:</strong>
  <%= @descarte.proprietario_endereco %>
</p>

<p>
  <strong>Proprietario telefone:</strong>
  <%= @descarte.proprietario_telefone %>
</p>

<p>
  <strong>Tipo material:</strong>
  <%= @descarte.tipo_material %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @descarte.quantidade %>
</p>

<p>
  <strong>Destino:</strong>
  <%= @descarte.destino %>
</p>

<p>
  <strong>Transportador nome:</strong>
  <%= @descarte.transportador_nome %>
</p>

<p>
  <strong>Transportador telefone:</strong>
  <%= @descarte.transportador_telefone %>
</p>

<p>
  <strong>Transportador tipo transporte:</strong>
  <%= @descarte.transportador_tipo_transporte %>
</p>

<%= link_to 'Editar', edit_descarte_path(@descarte) %>
<% if !session[:user].blank? %>
 | 
<%= link_to 'Voltar', descartes_path %>
<% end %>
