<p id="notice"><%= notice %></p>

<p>
  <strong>Proprietario nome:</strong>
  <%= @entulho.proprietario_nome %>
</p>

<p>
  <strong>Proprietario cpf:</strong>
  <%= @entulho.proprietario_cpf %>
</p>

<p>
  <strong>Proprietario cep:</strong>
  <%= @entulho.proprietario_cep %>
</p>

<p>
  <strong>Proprietario endereco:</strong>
  <%= @entulho.proprietario_endereco %>
</p>

<p>
  <strong>Proprietario telefone:</strong>
  <%= @entulho.proprietario_telefone %>
</p>

<p>
  <strong>Tipo material:</strong>
  <%= @entulho.tipo_material %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @entulho.quantidade %>
</p>

<p>
  <strong>Destino:</strong>
  <%= @entulho.destino %>
</p>

<p>
  <strong>Transportador nome:</strong>
  <%= @entulho.transportador_nome %>
</p>

<p>
  <strong>Transportador cpf:</strong>
  <%= @entulho.transportador_cpf %>
</p>

<p>
  <strong>Transportador cep:</strong>
  <%= @entulho.transportador_cep %>
</p>

<p>
  <strong>Transportador endereco:</strong>
  <%= @entulho.transportador_endereco %>
</p>

<p>
  <strong>Transportador telefone:</strong>
  <%= @entulho.transportador_telefone %>
</p>

<p>
  <strong>Transportador tipo transporte:</strong>
  <%= @entulho.transportador_tipo_transporte %>
</p>

<%= link_to 'Edit', edit_entulho_path(@entulho) %> |
<%= link_to 'Back', entulhos_path %>
